<nav class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>

        <li *ngFor="let item of items" class="breadcrumb-item" [class.active]="isThelastItem(item)">
            <span *ngIf="isThelastItem(item)">
                <span class="text-primary font-weight-bold" *ngIf="item.currentAction == 'new'" [jhiTranslate]="translate(item.text, item.currentAction)">Create or edit </span>
                <span class="text-primary font-weight-bold" *ngIf="item.currentAction == 'edit'" [jhiTranslate]="translate(item.text, item.currentAction)">Create or edit </span>
                <span class="text-primary font-weight-bold" *ngIf="item.currentAction == ''" [jhiTranslate]="translate(item.text, item.currentAction)">Create or edit </span>
            </span>
            <a *ngIf="!isThelastItem(item)" [routerLink]="item.link">{{item.text}}</a>
        </li>
    </ol>
</nav>
