<div>
    <jhi-bread-crumb
        [items]="[{text: 'lancamento', currentAction: ''}]"
    ></jhi-bread-crumb>
    <h2 id="page-heading">
        <span class="text-primary"><fa-icon [icon]="faLanc" class="fa"></fa-icon></span>
        <span jhiTranslate="jnsFinanceiroApp.lancamento.home.title">Lancamentos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-lancamento" [routerLink]="['/lancamento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <!--<span class="d-none d-md-inline"  jhiTranslate="jnsFinanceiroApp.lancamento.home.adicionar">-->
            <!--Create new Lancamento-->
            <!--</span>-->
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jnsFinanceiroApp.lancamento.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="lancamentos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!--<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <!--<th jhiSortBy="data"><span jhiTranslate="jnsFinanceiroApp.lancamento.data">Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="nome" colspan="5"><span jhiTranslate="jnsFinanceiroApp.lancamento.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="descricao"><span jhiTranslate="jnsFinanceiroApp.lancamento.descricao">Descricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <!--<th class="text-center" jhiSortBy="tipo"><span jhiTranslate="jnsFinanceiroApp.lancamento.tipo">Tipo</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th class="text-center" class="text-right" jhiSortBy="valor"><span jhiTranslate="jnsFinanceiroApp.lancamento.valor">Valor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
            <th class="text-center" jhiSortBy="pagamentoTipoPagamento"><span jhiTranslate="jnsFinanceiroApp.lancamento.pagamento">Pagamento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fornecedorNome"><span jhiTranslate="jnsFinanceiroApp.lancamento.fornecedor">Fornecedor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="categoriaNome"><span jhiTranslate="jnsFinanceiroApp.lancamento.categoria">Categoria</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lancamento of lancamentos ;trackBy: trackId">
                <!--<td><a [routerLink]="['/lancamento', lancamento.id, 'view' ]">{{lancamento.id}}</a></td>-->
                <td colspan="5">
                    <div class="h5">{{lancamento.nome | capitalLetter}}</div>
                    <div class="badge badge-secondary">{{lancamento.data | date:'dd/MM/yyyy'}}</div>
                    <div class="font-weight-light font-italic">{{lancamento.descricao}}</div>
                </td>
                <td class="text-right"><span class="h5">{{lancamento.valor | number:'1.2-2'}}</span></td>
                <td class="text-center">
                    <div class="badge badge-pill"
                         [class.badge-danger]="lancamento.tipo == 'DESPESA' "
                         [class.badge-success]="lancamento.tipo == 'RECEITA' ">
                        {{lancamento.tipo}}
                    </div>
                </td>


                <td class="text-center">
                    <div *ngIf="lancamento.pagamentoId">
                        <a [routerLink]="['../pagamento', lancamento.pagamentoId , 'view' ]" >{{lancamento.pagamentoTipoPagamento}}</a>
                    </div>
                    <div class="badge badge-pill"
                         [class.badge-danger]="lancamento.pagamento.status == 'CANCELADO' "
                         [class.badge-info]="lancamento.pagamento.status == 'PENDENTE' "
                         [class.badge-success]="lancamento.pagamento.status == 'PAGO' ">
                        {{lancamento.pagamento.status}}
                    </div>
                </td>
                <td>
                    <div *ngIf="lancamento.fornecedorId">
                        <a [routerLink]="['../fornecedor', lancamento.fornecedorId , 'view' ]" >{{lancamento.fornecedorNome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="lancamento.categoriaId">
                        <a [routerLink]="['../categoria', lancamento.categoriaId , 'view' ]" >{{lancamento.categoriaNome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/lancamento', lancamento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
                        </button>
                        <button type="submit"
                                [routerLink]="['/lancamento', lancamento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>-->
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'lancamento/'+ lancamento.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>-->
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="lancamentos && lancamentos.length" class="align-middle">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
