<div>
    <h2 id="page-heading">
        <span jhiTranslate="jnsFinanceiroApp.pagamento.home.title">Pagamentos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pagamento" [routerLink]="['/pagamento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="jnsFinanceiroApp.pagamento.home.createLabel">
            Create new Pagamento
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jnsFinanceiroApp.pagamento.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="pagamentos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vencimento"><span jhiTranslate="jnsFinanceiroApp.pagamento.vencimento">Vencimento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="diaPagamento"><span jhiTranslate="jnsFinanceiroApp.pagamento.diaPagamento">Dia Pagamento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quantidadeParcelas"><span jhiTranslate="jnsFinanceiroApp.pagamento.quantidadeParcelas">Quantidade Parcelas</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="jnsFinanceiroApp.pagamento.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoPagamento"><span jhiTranslate="jnsFinanceiroApp.pagamento.tipoPagamento">Tipo Pagamento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let pagamento of pagamentos ;trackBy: trackId">
                <td><a [routerLink]="['/pagamento', pagamento.id, 'view' ]">{{pagamento.id}}</a></td>
                <td>{{pagamento.vencimento | date:'mediumDate'}}</td>
                <td>{{pagamento.diaPagamento | date:'mediumDate'}}</td>
                <td>{{pagamento.quantidadeParcelas}}</td>
                <td jhiTranslate="{{'jnsFinanceiroApp.Status.' + pagamento.status}}">{{pagamento.status}}</td>
                <td jhiTranslate="{{'jnsFinanceiroApp.TipoPagamento.' + pagamento.tipoPagamento}}">{{pagamento.tipoPagamento}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/pagamento', pagamento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pagamento', pagamento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pagamento/'+ pagamento.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
