<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-pagamento-heading" jhiTranslate="jnsFinanceiroApp.pagamento.home.createOrEditLabel">Create or edit a Pagamento</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!pagamento.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="pagamento.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jnsFinanceiroApp.pagamento.vencimento" for="field_vencimento">Vencimento</label>
                    <div class="input-group">
                        <input id="field_vencimento" type="text" class="form-control" name="vencimento" ngbDatepicker  #vencimentoDp="ngbDatepicker" [(ngModel)]="pagamento.vencimento"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="vencimentoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.vencimento?.dirty && editForm.controls.vencimento?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.vencimento?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jnsFinanceiroApp.pagamento.diaPagamento" for="field_diaPagamento">Dia Pagamento</label>
                    <div class="input-group">
                        <input id="field_diaPagamento" type="text" class="form-control" name="diaPagamento" ngbDatepicker  #diaPagamentoDp="ngbDatepicker" [(ngModel)]="pagamento.diaPagamento"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="diaPagamentoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jnsFinanceiroApp.pagamento.forma" for="field_forma">Forma</label>
                    <select class="form-control" name="forma" [(ngModel)]="pagamento.forma" id="field_forma" >
                        <option value="DINHEIRO">{{'jnsFinanceiroApp.FormaPagamento.DINHEIRO' | translate}}</option>
                        <option value="CARTAO">{{'jnsFinanceiroApp.FormaPagamento.CARTAO' | translate}}</option>
                        <option value="DEBITO">{{'jnsFinanceiroApp.FormaPagamento.DEBITO' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jnsFinanceiroApp.pagamento.juros" for="field_juros">Juros</label>
                    <input type="number" class="form-control" name="juros" id="field_juros"
                        [(ngModel)]="pagamento.juros" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jnsFinanceiroApp.pagamento.quantidadeParcelas" for="field_quantidadeParcelas">Quantidade Parcelas</label>
                    <input type="number" class="form-control" name="quantidadeParcelas" id="field_quantidadeParcelas"
                        [(ngModel)]="pagamento.quantidadeParcelas" required/>
                    <div [hidden]="!(editForm.controls.quantidadeParcelas?.dirty && editForm.controls.quantidadeParcelas?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.quantidadeParcelas?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.quantidadeParcelas?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jnsFinanceiroApp.pagamento.status" for="field_status">Status</label>
                    <select class="form-control" name="status" [(ngModel)]="pagamento.status" id="field_status"  required>
                        <option value="PAGO">{{'jnsFinanceiroApp.Status.PAGO' | translate}}</option>
                        <option value="PENDENTE">{{'jnsFinanceiroApp.Status.PENDENTE' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jnsFinanceiroApp.pagamento.lancamento" for="field_lancamento">Lancamento</label>
                    <select class="form-control" id="field_lancamento" name="lancamento" [(ngModel)]="pagamento.lancamentoId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="lancamentoOption.id" *ngFor="let lancamentoOption of lancamentos; trackBy: trackLancamentoById">{{lancamentoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
