<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-fornecedor-heading" jhiTranslate="jnsFinanceiroApp.fornecedor.home.createOrEditLabel">Create or edit a Fornecedor</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!fornecedor.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="fornecedor.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jnsFinanceiroApp.fornecedor.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="fornecedor.nome" required minlength="3"/>
                    <div [hidden]="!(editForm.controls.nome?.dirty && editForm.controls.nome?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nome?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nome?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 3 }">
                        This field is required to be at least 3 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jnsFinanceiroApp.fornecedor.razaoSocial" for="field_razaoSocial">Razao Social</label>
                    <input type="text" class="form-control" name="razaoSocial" id="field_razaoSocial"
                        [(ngModel)]="fornecedor.razaoSocial" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jnsFinanceiroApp.fornecedor.telefoneFixo" for="field_telefoneFixo">Telefone Fixo</label>
                    <input type="text" class="form-control" name="telefoneFixo" id="field_telefoneFixo"
                        [(ngModel)]="fornecedor.telefoneFixo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jnsFinanceiroApp.fornecedor.telefoneCel" for="field_telefoneCel">Telefone Cel</label>
                    <input type="text" class="form-control" name="telefoneCel" id="field_telefoneCel"
                        [(ngModel)]="fornecedor.telefoneCel" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jnsFinanceiroApp.fornecedor.pessoa" for="field_pessoa">Pessoa</label>
                    <select class="form-control" name="pessoa" [(ngModel)]="fornecedor.pessoa" id="field_pessoa" >
                        <option value="FISICA">{{'jnsFinanceiroApp.Pessoa.FISICA' | translate}}</option>
                        <option value="JURIDICA">{{'jnsFinanceiroApp.Pessoa.JURIDICA' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jnsFinanceiroApp.fornecedor.cnpj" for="field_cnpj">Cnpj</label>
                    <input type="text" class="form-control" name="cnpj" id="field_cnpj"
                        [(ngModel)]="fornecedor.cnpj" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jnsFinanceiroApp.fornecedor.cpf" for="field_cpf">Cpf</label>
                    <input type="text" class="form-control" name="cpf" id="field_cpf"
                        [(ngModel)]="fornecedor.cpf" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jnsFinanceiroApp.fornecedor.endereco" for="field_endereco">Endereco</label>
                    <select class="form-control" id="field_endereco" name="endereco" [(ngModel)]="fornecedor.enderecoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="enderecoOption.id" *ngFor="let enderecoOption of enderecos; trackBy: trackEnderecoById">{{enderecoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
