<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fornecedor">
            <h2><span jhiTranslate="jnsFinanceiroApp.fornecedor.detail.title">Fornecedor</span> {{fornecedor.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jnsFinanceiroApp.fornecedor.nome">Nome</span></dt>
                <dd>
                    <span>{{fornecedor.nome}}</span>
                </dd>
                <dt><span jhiTranslate="jnsFinanceiroApp.fornecedor.pessoa">Pessoa</span></dt>
                <dd>
                    <span jhiTranslate="{{'jnsFinanceiroApp.Pessoa.' + fornecedor.pessoa}}">{{fornecedor.pessoa}}</span>
                </dd>
                <dt><span jhiTranslate="jnsFinanceiroApp.fornecedor.cnpj">Cnpj</span></dt>
                <dd>
                    <span>{{fornecedor.cnpj}}</span>
                </dd>
                <dt><span jhiTranslate="jnsFinanceiroApp.fornecedor.cpf">Cpf</span></dt>
                <dd>
                    <span>{{fornecedor.cpf}}</span>
                </dd>
                <dt><span jhiTranslate="jnsFinanceiroApp.fornecedor.endereco">Endereco</span></dt>
                <dd>
                    <div *ngIf="fornecedor.enderecoId">
                        <a [routerLink]="['/endereco', fornecedor.enderecoId, 'view']">{{fornecedor.enderecoId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fornecedor', fornecedor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
