<div>
    <h2 id="page-heading">
        <span class="text-primary"><fa-icon [icon]="faForn"></fa-icon></span>
        <span jhiTranslate="jnsFinanceiroApp.fornecedor.home.title">Fornecedors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fornecedor" [routerLink]="['/fornecedor/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="jnsFinanceiroApp.fornecedor.home.adicionar">
            Create new Fornecedor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jnsFinanceiroApp.fornecedor.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="fornecedors">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!--<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="nome"><span jhiTranslate="jnsFinanceiroApp.fornecedor.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="razaoSocial"><span jhiTranslate="jnsFinanceiroApp.fornecedor.razaoSocial">Razao Social</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="telefoneFixo"><span jhiTranslate="jnsFinanceiroApp.fornecedor.telefoneFixo">Telefone Fixo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="telefoneCel"><span jhiTranslate="jnsFinanceiroApp.fornecedor.telefoneCel">Telefone Cel</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="pessoa"><span jhiTranslate="jnsFinanceiroApp.fornecedor.pessoa">Pessoa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="cnpj"><span jhiTranslate="jnsFinanceiroApp.fornecedor.cnpj">Cnpj</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <!--<th jhiSortBy="cpf"><span jhiTranslate="jnsFinanceiroApp.fornecedor.cpf">Cpf</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="enderecoId"><span jhiTranslate="jnsFinanceiroApp.fornecedor.endereco">Endereco</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fornecedor of fornecedors ;trackBy: trackId">
                <!--<td><a [routerLink]="['/fornecedor', fornecedor.id, 'view' ]">{{fornecedor.id}}</a></td>-->
                <td>
                    <div><span class="h4">{{fornecedor.nome}}</span></div>
                    <span *ngIf="fornecedor.razaoSocial">{{fornecedor.razaoSocial}} - </span>
                    <span *ngIf="fornecedor.cpf">{{fornecedor.cpf}}</span>
                    <span *ngIf="fornecedor.cnpj">{{fornecedor.cnpj}}</span>
                </td>
                <td>
                    <div><span>{{fornecedor.telefoneFixo}}</span></div>
                    <span>{{fornecedor.telefoneCel}}</span>
                </td>
                <td jhiTranslate="{{'jnsFinanceiroApp.Pessoa.' + fornecedor.pessoa}}">{{fornecedor.pessoa}}</td>
                <!--<td>{{fornecedor.cnpj}}</td>-->
                <!--<td>{{fornecedor.cpf}}</td>-->
                <td class="text-left">
                    <div *ngIf="fornecedor.enderecoId">
                        <!--<a [routerLink]="['../endereco', fornecedor.enderecoId , 'view' ]" >{{fornecedor.enderecoId}}</a>-->
                        <div><span>{{fornecedor.endereco.logradouro}}</span> <span>{{fornecedor.endereco.numero}}</span></div>
                        <span>{{fornecedor.endereco.bairro}},</span> <span>{{fornecedor.endereco.cidade}}-</span> <span>{{fornecedor.endereco.uf}}</span>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/fornecedor', fornecedor.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/fornecedor', fornecedor.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'fornecedor/'+ fornecedor.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="fornecedors && fornecedors.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
